/* ini adalah style.css */

@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

.text-tebal {
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Google Sans", sans-serif;
}

.bg-green {
  background-color: #33ff00;
  padding: 20px;
}

.box {
  border: 0.5px #0e0e0e solid;
  padding: 30px;
  margin: 20px 0;
}

.title {
  background: #33ff00;
  padding: 30px;
}

.container {
  width: 90dvw; /* 90% lebar layar */
  min-height: 10dvh; /* 10%  tinggi layar */
  border: 0.5px #6b6b6b solid;
  margin: 20px 0;
  padding: 20px;
}

/* display block : 
  1. menguasai 1 baris
  2. padding margin berlaku
  3. bisa mengatur ukuran
*/

.d-block {
  width: 70%;
  padding: 20px;
  margin: 10px 0;
  border: 0.5px #0e0e0e solid;
  display: block;
}

.d-inline {
  width: 100dvw !important;
  padding: 20px;
  margin: 20px;
  border: 0.5px #0e0e0e solid;
  display: inline;
}

.nav-item {
  display: inline-block;
  margin: 20px;
}

.d-inline-block {
  padding: 20px;
  margin: 5px;
  border: 0.5px #0e0e0e solid;
  display: inline-block;
}

.d-inline-block:nth-child(even) {
  background-color: #33ff00;
}

.d-none {
  display: none;
}

.v-hide {
  visibility: hidden;
}

.card {
  /* width: 30%; */
  padding: 10px;
  margin: 10px;
  border: 0.5px #0e0e0e solid;
}

.card-relative {
  background-color: #33ff00;
  position: relative;
  left: 300px; /*jarak dari kiri*/
  bottom: 40px;
}

.btn-belanja {
  background-color: #33ff00;
  padding: 5px;
  text-decoration: none;
  color: #0c0c0c;
  border-radius: 8px;
}

.card-product {
  position: relative;
}

.badge-promo {
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 2px;
  right: -10px;
  animation: changeColor .4s infinite;
}

.fixed {
  width: 40px;
  height: 40px;
  border: 0.5px #0e0e0e solid;
  border-radius: 100%;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.float-right {
  float: right;
  background-color: aqua;
}

.d-flex {
  display: flex;
  /* digunakan untuk column
  flex-direction: column-reverse;  */

  /* mmengatur perataan */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-flex {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
}

/* media queries */



.btn-daftar{
  background-color: #0088cc;
  width: 100px;
  height: 50px;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 1s;
}

.btn-daftar:hover{
  background-color: #006aa0;
  box-shadow: 0 4px 6px -1px #0000007c;
  position: relative;
  bottom: 2px;
}

@keyframes changeColor {
  0%{
    background-color: #006aa0;
  }
  25%{
    background-color: #33ff00;
    padding: 30px;
  }
  50%{
    background-color: #ff0000;
  }
}

@media screen and (max-width: 768px) {
  .card {
    background-color: #33ff00;
  }

  .d-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .d-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
